.gradient {
	background: linear-gradient(-45deg, #f2c4b6, #ff116c58, #e6bacfc9, #d5238b38);
	background-size: 300% 300%;
	animation: gradient 5s ease infinite;
	height: 100vh;
    border-radius: 12px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
